/*
Author: Hoang Linh Bui
Last modified: May 23, 2015
*/
#studentname
{
	font-size:200%;
	text-align:center;
}

#studentid
{
	font-size:150%;
	font-family: Arial, Helvetica, sans-serif;
	text-align:right;
}

#course
{
	font-size:150%;
	font-weight: bold;
}

nav
{
	min-width:80em;
}

table
{
	border-collapse: collapse;
}

table, tr, td
{
	border: 1px solid black;
	margin-right:auto;
	margin-left:auto;
	background-color: rgb(0,255,255);
}

tr, td
{
	font-size: 110%;
}

#timetable
{
	font-size:130%
}

/*hiding questions and answers*/ 
.Qu2, .Qu3, .Qu4
{
	visibility:hidden;
}

td.heading
{
	font-weight:bold;
}

article p
{
	text-indent:20px;
	width:85%;
	margin-left:70px;
	margin-right:auto;
}

.head
{
	margin-left:40px;
}

.title
{
	display:block;
	text-align:center;
	margin-top:80px;
}

iframe
{
	margin-left:70px;
}

.char
{
	width:85%;
	margin-left:90px;
	margin-right:auto;
}

.sources
{
	width:85%;
	margin-left:70px;
	margin-right:auto;
	font-size:80%;
	color:red;
	font-style:italic;
}

h3
{
	text-align:center;
}

figure
{
	display:block;
	padding:30px;
	margin:20px;
}

#illustration
{
	display:inline-block;
	margin-right:0;
	margin-left:auto;
	float:right;
}
#portrait
{
	border:medium dashed red;
}

#what
{
	display:block;
	margin-left:auto;
	margin-right:auto;
	border: medium solid;
}

a
{
	text-decoration:none;
}

.index
{
	display:inline-block;
}

#cue
{
	font-size: 200%;
	text-align: center;
}

#cue a:hover, #cue a:focus, nav a:hover, nav a:focus
{
	text-decoration: underline;
}

/* hiding buttons */
#checkAns, #entry
{
	visibility:hidden;
}
nav
{
	border:medium solid;
	float: left;
	width:100%;
	background-color: aqua;
}

nav ul
{
	list-style:none;
}

nav li
{
	float:left;
	width:17%;
	padding:10px;
	font-size:1.4em;
	text-align:center;
}

#emailto
{
	text-align:right;
}