body{
	background-color: #66b3ff;
	display:block;
}

div.wrapper{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3%;
	margin: 0 auto;
    width: 50%;
}

input[type=text], select {
    width: 70%;
    padding: 1%;
    margin: 0.5%;
    margin-left:8%;
	border: 1px solid #ccc;
    border-radius: 4px;
}
input#fullname, input#dateofbirth{
	text-align:right;
	float:left;
}

input.dob_edit{
	margin-left :0%;
}

label{
	padding:0.01em 16px
}

input[type=submit], a.button_a, a.button_a_overlap{
	width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 5px 5px;
    margin: 2px;
    border: none;
    border-radius: 4px;
	display: inline-block;
}

a.button_a{
	text-align: center;
	float: right;
	text-decoration: none;
}

a.button_a_overlap{
	text-align: center;
	text-decoration: none;
	float: right;
	clear:right;
	display: inline-block;
}

input[type=submit]{
	float :right
}