body{
	background-color: #66b3ff;
	display:block;
}

div.wrapper{
	border-radius: 5px;
    background-color: #f2f2f2;
    padding: 3%;
	margin: 0 auto;
    width: 50%;
}

input[type=text],input[type=date], select {
    width: 70%;
    padding: 1%;
    margin: 0.5%;
    margin-left:8%;
	border: 1px solid #ccc;
    border-radius: 4px;
}
input#fullname, input#dateofbirth{
	text-align:right;
}

input[type=date],select{
	margin-left :0%; 
}

label{
	padding:0.01em 16px
}

input[type=submit]{
	width: 20%;
    background-color: #4CAF50;
    color: white;
    padding: 1% 2%;
    margin: 2% 0%;
	margin-left: 71%;
    border: none;
    border-radius: 4px;
}